version: '3.8'

services:
  app:
    build: .
    container_name: smartcart-ai
    ports:
      - "8501:8501"
    volumes:
      - .:/app
      - /app/.venv
    environment:
      - GROQ_API_KEY=${GROQ_API_KEY}
    command: streamlit run src/interface/streamlit_app.py
