spring:
  appliation:
    name: Order Processing Workflow
  datasource:
    url: jdbc:postgresql://localhost:5440/orderdb
    username: orderuser
    password: orderpass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
